<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="product.css">
</head>
<body>
  
  <span id="product-card">
    <img src="../images/sheep.jpg" alt="Product Image" id="product-image">
    <div id="product-info">
      <h3 id="product-title">Product Name</h3>
      <p id="product-description">This is a short description of the product. It's a great choice for your needs.</p>
      <p id="product-price">$49.99</p>
      <p id="product-duration"></p>
      <p id="star-product">star-product</p>
      <p id="is-rented">is rented</p>
      <p id="delivery"> delivery</p>
      <p id="user-fk"> user-fk</p>

      <button class="add-to-cart-btn">Add to Cart</button>
    </div>
  </span>
</body>
</html>