<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="profile_css.css">
</head>
<body>
    
    <div class="profile-container">
        <div class="profile-card">
          <img src="../images/sheep.jpg" alt="Person Profile" class="profile-img">
          <h1 id="name">John Doe</h1>
          <p id="bio">Web Developer | Passionate about coding, technology, and open-source contributions.</p>
          <button id="toggle-button">Show More</button>
          <div id="more-info" class="more-info">
            <p><strong>Age:</strong> 29</p>
            <p><strong>Location:</strong> San Francisco, CA</p>
            <p><strong>Hobbies:</strong> Traveling, Photography, Coding</p>         
          </div>
          <button id="addProduct_button">Add Product</button>
       
          <div class="input-group">
            <label for="fullname">fullname</label>
            <input type="text" id="fullname_id"  required>
            
            <div class="input-group">
              <label for="duration">duration</label>
              <input type="text" id="duration_id"  required>
          </div><div class="input-group">

            <label for="per_day">Per Day</label>
            <input type="text" id="per_day_id"  required>
        </div>
        
        <div class="input-group">
          <label for="star_product">star_product</label>
          <input type="text" id="star_product_id"  required>
      </div><div class="input-group">
        <label for="more_info">more_info</label>
        <input type="text" id="more_info_id"  required>
    </div>
    <div class="input-group">
     
      <label for="is_rented">is_rented</label>
      <input type="text" id="is_rented_id"  required>
  </div>
  <div class="input-group">
    <label for="delivery">delivery</label>
    <input type="text" id="delivery_id"  required>
</div>
<div class="input-group">
  <label for="users_fk">users_fk</label>
  <input type="text" id="users_fk_id"  required>
</div>

<div class="input-group">
  <label for="image_url">image_url</label>
  <input type="text" id="image_url_id"  required>
</div>

          </div>
        </div>
      </div>

</body>
<script  src="profile_js.js"></script>

<script>
const f = document.getElementById("fullname_id")
const d = document.getElementById("duration_id")
const p = document.getElementById("per_day_id")
const s = document.getElementById("star_product_id")
const m = document.getElementById("more_info_id")
const i = document.getElementById("is_rented_id")
const del = document.getElementById("delivery_id")
const u = document.getElementById("users_fk_id")
const i_url = document.getElementById("image_url_id")

//import { addProduct } from './profile_js.js';
   
document.getElementById('addProduct_button').onclick = function(){
  addProduct(f.value,d.value,p.value,s.value,m.value,i.value,del.value,u.value,i_url.value)
};



</script>


</html>