<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="MainPage_css.css">
    <link rel="stylesheet" href="slider.css">
    
    <title>Document</title>
</head>
<body>
<div id="container">
    <!-- ////////////////////////My Bar -->
<div id="MyBar">
    <nav class="navbar">
        <div class="logo">
          <a href="#"><img src="../images/ASW_LogoIcon.png" alt=""></a>
        </div>
        
        <div class="profile">
          <a href="#"><img src="../images/profile.png" alt=""></a>
        </div>
        
        <ul class="nav-links">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>

        <div class="hamb" id="hamb">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    

</div>
<!-- ///////////////////////  /My Bar -->

<div id="MyCenter">

<div class="slider_container"> 
    <div class="slider">
        <span class="slide" style="--i:1;"><img src="../images/boxing.jpg" alt=""></span>
        <span class="slide" style="--i:2;"><img src="../images/football.jpg" alt=""></span>
        <span class="slide" style="--i:3;"><img src="../images/profile.png" alt=""></span>
        <span class="slide" style="--i:4;"><img src="../images/runner.png" alt=""></span>
        <span class="slide" style="--i:5;"><img src="../images/swimming_glass.jpg" alt=""></span>
        <span class="slide" style="--i:6;"><img src="../images/ASW_LogoIcon.png" alt=""></span>
    </div>

</div>
</div>


<div id="MyFooter"></div>
</div>
<script src="slider_move.js"></script>
<script src="MainPage_js.js"></script> 
   
</body>
</html>